# OS cruft
.DS_Store
Thumbs.db

# IDE / tooling
.idea/
.vscode/
*.code-workspace

# Dependencies & builds
node_modules/
vendor/
dist/

# Logs / env
*.log
.env*

# Docker artifacts
docker/wordpress/wp-content/
